<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Captioning app</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1 class="heading">Image Captioning</h1>
                <br>
                <p class="cap">To generate caption please upload an image..</p>
            </div>
        </div>
            <form class="form-inline" method="POST" action="/" enctype="multipart/form-data">
                <label><b>Upload Image: &nbsp;&nbsp;</b></label>
                <input class="form-control" type="file" name="userfile" placeholder="Input Image">
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <br>
            <br>
            {% if result %}
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{result['image']}}">
                    </div>
                    <div class="col-sm-8">
                        <p class="text">Caption is : </p>
                        <p><b>{{result['caption']}}</b></p>
                    </div>
                    <!-- <div>
                        <form action="/",method="POST">
                            What do you think: <input type="text" name="recommendationtxt">
                            <br>
                            <input type="submit" value="recommendation">
                        </form>
                    </div> -->
                </div>
            {% endif %}

    </div>

  </body>
</html>